body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 8pt;
    overflow-y: scroll;
    margin: 0px;
}


.canvas-parent {
    margin-right: auto;
    margin-left: auto;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: lightgray;
    border-width: 1px;
}

.row {
    margin: 0px 0px;
}

.bold-text {
    font-weight: bold !important;
}

#primary-container {
    padding-top: 50px;
}

.btn-tbar {
    margin-bottom: 10px;
}

#air-space {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}

#air-space-title {
    text-align: center;
    margin-top: 40px;
}

#all-scen {
    font-weight: bold;
    color: green;
    font-size: 120%;
}


.res-img {
    width: 100%;
}

.python-res {
    margin-top: 30px;
    /* margin-bottom: 200px; */
}

#res-title {
    display: block;
    text-align: center;
    font-size: 22pt;
}

#new-train-title {
    display: block;
    text-align: center;
    font-size: 18pt;
    color: green;
    margin: 10px 0px;
}

#pre-train-title {
    display: block;
    text-align: center;
    font-size: 18pt;
    color: blue;
    margin: 10px 0px;
}

#res-pre-train {
    margin-bottom: 50px;
}

.training-progress {
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
}

.control-btn-group {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin: 2px !important;
}

.btn-group {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red;
    color: white; */
    text-align: center;
    font-size: 150%;
}

.acceptance-label {
    text-align: center;
    font-size: 200%;
}

.accepted {
    color: green;
}

.rejected {
    color: red;
}

.title-1 {
    margin: auto;
}